html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: none;
}

#root {
  height: 100%;
}

.game-landing {
  background-image: url('/landing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Times New Roman', Times, serif;
}

/* Container tombol */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px; /* jarak antar tombol */
  margin-top: 320px;
}

/* Tombol Mulai Game */
.start-button {
  padding: 18px 30px;
  font-size: 22px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 12px;
  height: 70px;
  width: 220px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}

.start-button:hover {
  background-color: #ed9fcb;
  transform: translateY(2px);
}

/* Tombol Login */
.login-button {
  padding: 18px 20px;
  font-size: 22px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  height: 65px;
  width: 220px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: #e390bd;
}

/* Tombol Username */
.username-button {
  padding: 16px 20px;
  font-size: 20px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  height: 60px;
  width: 220px;
  cursor: default;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tombol Logout */
.logout-button {
  padding: 14px 20px;
  font-size: 18px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: 2px solid #ed9fcb;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 220px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button:hover {
  background-color: #ffe0ef;
}

:root, body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: none !important;
  overflow: hidden !important;
  max-width: none !important;
}
