html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

#root {
  height: 100%;
}

.game-landing {
  background-image: url('/landing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  width: 102vw;
  position: relative;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 45px;
}

/* overlay bersih tanpa latar */
.overlay {
  padding: 30px 50px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: transparent; /* tidak ada latar */
}

/* tombol tanpa shadow */
.start-button {
  padding: 30px 40px;
  font-size: 30px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  margin-bottom: 40px;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}

.start-button:hover {
  background-color: #ed9fcb;
  transform: translateY(2px);
}

.tentang {
  padding: 30px 60px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: transparent;
}

.tentang-button {
  padding: 20px 40px;
  font-size: 35px;
  background-color: #ed9fcb;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-bottom: 55px;
  height: 90px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}

.tentang-button:hover {
  background-color: #ed9fcb;
  transform: translateY(2px);
}

.login {
  padding: 40px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: transparent;
}

.login-button {
  width: 70%;
  padding: 15px;
  font-size: 20px;
  background-color: #ed9fcb;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  margin-bottom: 100px;
}

.login-button:hover {
  background-color: #e390bd;
}